{
  "plugins": [ "@babel/plugin-syntax-dynamic-import"],
  "presets": [
    [  "@babel/preset-env", { "targets": { "browsers": [ "> 1%", "last 2 versions" ] } } ]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", { "targets": { "node": "current" }}]
      ]
    }
  }
}
